<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="local" value="http://127.0.0.1:82/nuget" />
	<add key="intranet" value="http://127.0.0.1:82/nuget" />
    <add key="network" value="http://nuget.litingli.com/nuget" />
  </packageSources>
  <disabledPackageSources />
</configuration>