<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="../css/admin_style.css" />
	<link rel="stylesheet" type="text/css" href="../css/skins/tpphp.css" />
	<link type="text/css" rel="stylesheet" href="../js/jQueryZdialog/css/zdialog.css" />
	<script type="text/javascript" src="../vue/vue.min.js"></script>
	<script type="text/javascript" src="../vue/vue-resource.js"></script>
	<script type="text/javascript" src="../js/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="../js/js.cookie.min.js"></script>
	<script type="text/javascript" src="../js/jQueryZdialog/js/zdialog.js"></script>
	<script type="text/javascript" src="../js/keepwatch.config.js"></script>
	<script type="text/javascript" src="../js/iframe.js"></script>
	<script type="text/javascript" src="../js/extends/format.js"></script>
	<script type="text/javascript" src="../js/extends/filters.js"></script>
	<script type="text/javascript" src="../js/artDialog.js"></script>
</head>

<body class="right_body">
	<div id="app_user_table">
		<div class="body">
			<div class="top_subnav">Keepwatch 排班系统 ＞ 员工管理</div>
			<div class="title_h2">搜索</div>
			<p class="line" style="margin-top:0;">
			</p>
			<form action="#">
				<div class="filed fl">
					<label><b>关键词：</b></label>
					<input v-model="SearchText" type="text" class="text" size="20">
				</div>
				<div class="filed fl">
					<button class="button" v-on:click="getUserList"></button>
				</div>
			</form>
			<div class="tablelist">
				<table class="table">
					<tr>
						<th colspan="8" class="top_th">
						</th>
					</tr>
					<tr>
						<th>编号</th>
						<th>用户名</th>
						<th>真实姓名</th>
						<th>性别</th>
						<th>年龄</th>
						<th>创建时间</th>
						<th>更新时间</th>
						<th>备注</th>
					</tr>

					<tr v-for="user in Table">
						<td>{{user.id}}</td>
						<td>{{user.username}}</td>
						<td>{{user.realname}}</td>
						<td>{{user.sex}}</td>
						<td>{{user.createtime|formatDate}}</td>
						<td>{{user.updatetime|formatDate}}</td>
						<td>{{user.updatetime|formatDate}}</td>
						<td></td>
					</tr>

				</table>
			</div>
			<div class="page">
				<ul>
					<li><a href="#" class="pg_index">首页</a></li>
					<li><a href="#" class="pg_selected">1</a></li>
					<li><a href="#" class="pg_next">下一页</a></li>
					<li><a href="#" class="pg_last">尾页</a></li>
				</ul>
				<p>共有 {{Table.length}} 条数据，当前第 1 页</p>
			</div>
		</div>
	</div>
</body>
<script>
	var accessToken = Cookies.get(keepwatchConf.keepwatch_accesstokenKey);
	new Vue({
		el: '#app_user_table',
		data: {
			"Table": [],
			"SearchText": "",
			"AccessToken": accessToken
		},
		http: {
			root: '/',
			headers: {
				"AccessToken": accessToken
			}
		},
		mounted: function () {
			this.getUserList();
		},
		methods: {
			add: function () {
				art.dialog({
					id: 'msgDialog',
					title: '提示信息',
					lock: false,
					fixed: true,
					width: 300,
					height: 100,
					ok: function () {
						this.title('成功提示！').content('操作成功！').time(2);
						return false;
					},
					cancel: function () {
						return true;
					},
					content: "<div style='line-height:25px'>您有新的站内信<Br><a href=\"http://www.uimaker.com\">点此阅读</a></div>"
				});
			},
			getUserList: function () {
				var apiurl = keepwatchConf.serviceUrl + "/user/getUserList?userName=" + this.$data.SearchText + "&realName=" + this.$data.SearchText;
				this.$http.get(apiurl).then(function (response) {
					if (!response.body.success) {
						$.DialogByZ.Alert({
							Title: "错误" + "[" + response.body.errcode + "]", Content: response.body.errmsg, BtnL: "确定", FunL: function () {
								$.DialogByZ.Close();
							}
						});
						return false;
					}
					this.$data.Table = response.body.data;
				});
			}
		}
	});
</script>

</html>