<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.WorkCalendarMapper">
  <resultMap id="BaseResultMap" type="com.model.WorkCalendar">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="UserId" jdbcType="INTEGER" property="userid" />
    <result column="UserName" jdbcType="VARCHAR" property="username" />
    <result column="RealName" jdbcType="VARCHAR" property="realname" />
    <result column="BeginTime" jdbcType="TIMESTAMP" property="begintime" />
    <result column="EndTime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="UpdateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="Remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, UserId, BeginTime, EndTime, UpdateTime, CreateTime, Remark
  </sql>
  <sql id="Select_Column_List">
    t0.Id, t0.UserId,t1.UserName,t1.RealName,t0.BeginTime, t0.EndTime, t0.UpdateTime, t0.CreateTime, t0.Remark
  </sql>
  <select id="getWorkCalendarList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Select_Column_List" />
    from workcalendar as t0
    inner join userinfo as t1 on t0.userId=t1.Id where 1=1 
    <if test="userName != null">
        or t1.userName like  CONCAT('%',#{userName},'%')
    </if>
    <if test="realName != null">
        or t1.realName like CONCAT('%',#{realName},'%') 
    </if>
  </select>
  <select id="selectByKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Select_Column_List" />
    from workcalendar as t0
    inner join userinfo as t1 on t0.userId=t1.userid
    where t0.Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByKey" parameterType="java.lang.Integer">
    delete from workcalendar
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.WorkCalendar">
    insert into workcalendar
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="userid != null">
        UserId,
      </if>
      <if test="begintime != null">
        BeginTime,
      </if>
      <if test="endtime != null">
        EndTime,
      </if>
      <if test="updatetime != null">
        UpdateTime,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
      <if test="remark != null">
        Remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null"> #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null"> #{userid,jdbcType=INTEGER},
      </if>
      <if test="begintime != null"> #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null"> #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null"> #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null"> #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null"> #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByKey" parameterType="com.model.WorkCalendar">
    update workcalendar
    <set>
      <if test="userid != null">
        UserId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="begintime != null">
        BeginTime = #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        EndTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>