<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>v-for</title>
    <script src="../../assets/js/vue/vue.js"></script>
    <link href="../../assets/css/example.css" rel="stylesheet" />
</head>
<body>
    <h1>v-for 实例</h1>
    <hr />
    <div id="app">
        <ul>
            <li v-for="student in devStudents">
                {{student}}
            </li>
        </ul>
        <table>
            <tr>
                <td>Id</td>
                <td>姓名</td>
                <td>年龄</td>
            </tr>
            <tr v-for="(bbb,ibbb) in devstudengtArray">
                <td>{{ibbb}}</td>
                <td>{{bbb.name}}</td>
                <td>{{bbb.age}}</td>
            </tr>
        </table>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                students: [1, 2, 4, 3, 5, 6, 7, 8, 9, 10],
                studengtArray: [
                    { name: 'wos', age: '35' },
                    { name: 'taobao', age: '28' },
                    { name: 'sohu', age: '34' },
                    { name: 'sina', age: '58' },
                    { name: 'youku', age: '2' }
                ]
            },
            computed: {
                devStudents: function () {
                    //return this.students.sort();
                    return this.students.reverse();
                },
                devstudengtArray: function () {
                    return sortByKey(this.studengtArray, 'age');
                }
            }
        });

        function sortByKey(array, key) {
            return array.sort(function (a, b) {
                var x = a[key];
                var y = b[key];
                return ((x < y) ? -1 : ((x > y) ? 1 : 0));
            });
        }
    </script>
</body>
</html>