<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>v-model</title>
    <script src="../../assets/js/vue/vue.js"></script>
    <link href="../../assets/css/example.css" rel="stylesheet" />
</head>
<body>
    <h1>v-model 实例</h1>
    <hr />
    <div id="app">
        <h3>v-model 原始文本：{{message}}</h3>
        <h3>v-model 文本框</h3>
        <p>v-model:<input type="text" v-model="message" /></p>
        <h3>v-model 修饰符</h3>
        <p>v-model.lazy:<input type="text" v-model.lazy="message" /></p>
        <p>v-model.number:<input type="text" v-model.number="message" /></p>
        <p>v-model.trim:<input type="text" v-model.trim="message" /></p>
        <hr />
        <h3>v-model 文本区域</h3>
        <p>
            <span>对于文本区域而言，字面量格式只能够加载一次，不能实现双向绑定</span>
            <div><textarea rows="2" cols="75">{{message}}</textarea></div>
        </p>
        <p>
            <span>v-model属性绑定</span>
            <div><textarea rows="5" cols="75" v-model="message"></textarea></div>
        </p>
        <hr />
        <h3>v-model 单选按钮</h3>
        <p>
            <input type="checkbox" id="asdf" v-model="xz" />
            <label for="asdf">{{xz}}</label>
        </p>
        <hr />
        <h3>v-model 多个单选框绑定一个数组</h3>
        <p>
            <input type="checkbox" id="Jack" value="Jack" v-model="xzArray" />
            <label for="Jack">Jack</label>
            <br />
            <input type="checkbox" id="John" value="John" v-model="xzArray" />
            <label for="John">John</label>
            <br />
            <input type="checkbox" id="Mike" value="Mike" v-model="xzArray" />
            <label for="Mike">Mike</label>
            <div>数组结果：{{xzArray}}</div>
        </p>
        <hr />
        <h3>v-model 单选按钮</h3>
        <p>
            <input type="radio" id="one" value="true" v-model="danxuan" />
            <label for="one">true</label>
            <input type="radio" id="tow" value="false" v-model="danxuan" />
            <label for="tow">false</label>
            <div>选中结果：{{danxuan}}</div>
        </p>
        <hr />
        <h3>v-model 选择列表</h3>
        <p>
            <select v-model="xuanzelist">
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <div>选中结果：{{xuanzelist}}</div>
        </p>
        <p>
            <select v-model="rerge" multiple>
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <div>选中结果：{{rerge}}</div>
        </p>
        <p>
            <select multiple>
                <option v-for="item in rergelist">{{item}}</option>
            </select>
            <div>以上使用v-for循环输出的多选列表</div>
        </p>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                message: 'hello Vue!',
                xz: true,
                xzArray: [],
                danxuan: false,
                xuanzelist: 'A',
                rerge: ['A'],
                rergelist: ['A', 'B', 'C', 'D', 'E']
            }
        });
    </script>
</body>
</html>