<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>v-on</title>
    <script src="../../assets/js/vue/vue.js"></script>
    <link href="../../assets/css/example.css" rel="stylesheet" />
</head>
<body>
    <h1>v-on 实例</h1>
    <hr />
    <div id="app">
        <p>{{a}}</p>
        <p>
            <input type="button" v-on:click="jia" value="+1" />
            <input type="button" @click="jian" value="-1" />
        </p>
        <p>
            <input type="text" @keyup.enter="onEnter" v-model="b" />
            <input type="text" @keyup.13="onEnter" v-model="b" />
        </p>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                b: 0,
                a: 10
            },
            methods: {
                jia: function () {
                    this.a++;
                },
                jian: function () {
                    this.a--;
                },
                onEnter: function () {
                    this.a = parseInt(this.a) + parseInt(this.b);
                }
            }
        });
    </script>
</body>
</html>